<div class="container">
	<div class="lead well">
		<div class="media">
			<div class="media-left">
				<a href="#">
					<img class="media-object" src="http://wwww.gravatar.com/avatar/424242"/>
				</a>
			</div>
			<div class="media-body">
				<h4 class="media-heading">user@email.com asked:</h4>
				dasdasdsadasdasfdfs dfsdf sdfsfsdf sdf sdfsdfs df sd fdsd fsdfsdfsdfsd fsdfsfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsd
				dasdas
				dasddasdasdasdasdasdasd asd as das d as das d as d as das dsd adas
				das
				dasdasdasdasdasdasda
			</div>
		</div>
	</div>	
</div>
<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#new-aswer-modal" >Submit new answer</button>
	</div>
</div>

<%= render "home/new_answer_form" %>
<br>
<div class="media">
	<div class="media-left">
		<a href="#">
			<img class="media-object" src="http://wwww.gravatar.com/avatar/424242"/>
		</a>
	</div>
	<div class="media-body">
		<h4 class="media-heading">user@email.com asked:</h4>
		dasdasdsadasdas
		dasdas
		dasddasdasdasdasdasdasd asd as das d as das d as d as das dsd adas
		das
		dasdasdasdasdasdasda
	</div>
</div>
<br/>
<div class="media">
	<div class="media-left">
		<a href="#">
			<img class="media-object" src="http://wwww.gravatar.com/avatar/424242"/>
		</a>
	</div>
	<div class="media-body">
		<h4 class="media-heading">user@email.com asked:</h4>
		dasdasdsadasdas
		dasdas
		dasddasdasdasdasdasdasd asd as das d as das d as d as das dsd adas
		das
		dasdasdasdasdasdasda
	</div>
</div>